header {
    background-color: #5e87f8; /*Cor do fundo*/
    padding: 2em; /*Espaçamento entre o conteudo e borda*/
    text-align: center; /*Centraliza os itens*/
}


h2 {
    font-size: 280%; /*Tamanho do texto*/
    color: white; /*Cor do texto*/
    font-family: 'avenir next LT pro light'; /*Fonte do título*/
}


form {
    width: 30%; /*Largura*/
    height: 110%; /*Altura*/
    top: 40%; /*Move a caixa 33% para baixo*/
    left: 10%; /*Move a caixa 9.5% para a esquerda*/
    border: 3px double black; /*Bordas para as caixas*/
    position: absolute; /*Representação do layout da caixa*/
}


.meio-circulo {
    height: 700px; /*Altura*/
    margin-left: 50%; /*Move o meio circulo 50% para a esquerda*/
    border-radius: 200px 0 0 200px; /*Bordas arredondadas*/
    background-color: #1e57a4; /*Cor do fundo*/
    overflow: hidden; /*Indica que o conteúdo que ultrapassa o tamanho de um elemento*/
}


.meio-circulo img {
    width: 100%; /*Largura*/
    height: 100%; /*Altura*/
    object-fit: cover; /*Utilizada para especificar como um objeto deve ser redimensionado*/
}


label {
    font-size: 120%; /*Tamanho do texto*/
    color: #1e57a4; /*Cor do texto*/
    font-family: 'Times New Roman', Times, serif; /*Fonte do texto*/
    font-weight: bold; /*Deixa as palavras em negrito*/
    margin-left: 3%; /*Move as legendas dos input para a esquerda*/
}


input {
    border-radius: 3em; /*Bordas arredondadas*/
    padding: 7px; /*Espaçamento entre o conteúdo e borda*/
    width: 15em; /*Largura*/
    height: 5%; /*Altura*/
    margin-left: 9%; /*Move o button 10% para a esquerda*/
}


select {
    border-radius: 3em; /*Bordas arredondadas*/
    padding: 7px; /*Espaçamento entre o conteúdo e borda*/
    width: 12em; /*Largura*/
    height: 8%; /*Altura*/
    font-size: 18px; /*Ajusta o tamanho do texto*/
    margin-left: 9%; /*Move o button 10% para a esquerda*/
}


#botoes:hover {
    border: 1px solid blue; /*Especifica o tipo e a espessura*/
    box-shadow: 1px 1px 2px silver; /*Sombra sutil*/
}


#botoes {
    width: 15em; /*Largura*/
    height: 2em; /*Altura*/
    margin-left: 3%; /*Move o button 25% para a esquerda*/
    background-color: #1e57a4; /*Cor da caixa*/
    color: white; /*Cor das letras*/
}


a {
    color: white; /*Cor do texto*/
    text-decoration: none; /*Remove o sublinhado*/
}


#buscar {
    width: 10em; /*Largura*/
    height: 5%; /*Altura*/
    margin-left: 9%; /*Move o button 10% para a esquerda*/
    margin-top: 5px;
    border-radius: 3em; /*Bordas arredondadas*/
    background-color: #1e57a4; /*Cor do fundo*/
    color: white; /*Cor do texto*/
    margin-bottom: 1rem; /*Dimensão da margem do botão*/
}
  

#buscar:hover {
    border: 1px solid blue; /*Especifica o tipo e a espessura*/
    box-shadow: 1px 1px 2px silver; /*Sombra sutil*/
}


footer {
    background-color: #5e87f8; /*Cor do fundo*/
    color: white; /*Cor do texto*/
    padding: 20px; /*Espaçamento entre o conteudo e borda*/
}


.integrantes  {
    text-align: center; /*Alinha o texto no centro*/
}


.lista {
    list-style-type: none; /*Remove o marcador de lista*/
    text-align: center; /*Alinha o texto no centro*/
}



/*Responsive*/
@media(max-width: 479px) {
    form {
        width: 50%;
        height: 63%;
        top: 38%;
        left: 5px;
    }

    input {
        padding: 1px;
        margin-left: 10%;
        width: 12em;
    }

    .meio-circulo {
        margin-top: 3%; /*Move a caixa 3% para baixo*/
        height: 550px;
    }

    .meio-circulo img {
        width: 150%; /*Largura*/
    }
}

@media(min-width: 480px) and (max-width: 540px) {
    form {
        width: 40%;
        height: 63%;
        top: 39%;
        left: 5%;
    }

    input {
        padding: 1px;
        margin-left: 1%;
        width: 12em;
    }

    .meio-circulo {
        margin-top: 3%; /*Move a caixa 3% para baixo*/
        height: 550px;
    }

    .meio-circulo img {
        width: 150%; /*Largura*/
    }

    #botoes {
        margin-top: 10px;
        margin-bottom: 5px;
        margin-left: 5%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media(min-width: 541px) and (max-width: 622px) {
    form {
        width: 45%;
        height: 65%;
        top: 36%;
        left: 15px;
    }
    
    input {
        padding: 1px;
    }

    .meio-circulo {
        height: 550px;
    }

    .meio-circulo img {
        width: 150%; /*Largura*/
    }

    #botoes {
        margin-top: 10px;
        margin-bottom: 5px;
        margin-left: 6%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media(min-width: 623px) and (max-width: 767px) {
    form {
        width: 40%;
        height: 63%;
        top: 35%;
        left: 5%;
    }

    input {
        padding: 1px;
    }

    .meio-circulo {
        margin-top: 3%; /*Move a caixa 3% para baixo*/
        height: 550px;
    }

    .meio-circulo img {
        width: 150%; /*Largura*/
    }

    #botoes {
        margin-top: 15px;
        margin-left: 8%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media(min-width: 768px) and (max-width: 1023px) {
    form {
        width: 40%;
        height: 63%;
        top: 30%;
        left: 5%;
    }

    input {
        padding: 1px;
    }

    .meio-circulo {
        height: 530px;
    }

    #botoes {
        margin-top: 20px;
    }
}

@media(min-width: 1024px) and (max-width: 1279px) {
    form {
        width: 40%;
        height: 63%;
        top: 35%;
        left: 5%;
    }

    label {
        margin-left: 10%; /*Move as legendas dos input para a esquerda*/
    }

    input {
        padding: 1px;
        margin-left: 20%;
    }

    #buscar {
        margin-left: 20%;
    }

    .meio-circulo {
        margin-top: 3%; /*Move a caixa 3% para baixo*/
        height: 550px;
    }

    .meio-circulo img {
        width: 150%; /*Largura*/
    }

    #botoes {
        margin-top: 20px; 
    }
}

@media(min-width: 1280px) and (max-width: 1439px) {
    form {
        width: 40%;
        height: 60%;
        top: 35%;
        left: 5%;
    }

    label {
        margin-left: 10%; /*Move as legendas dos input para a esquerda*/
    }

    input {
        padding: 1px;
        margin-left: 20%;
    }

    .meio-circulo {
        margin-top: 3%; /*Move a caixa 3% para baixo*/
        height: 550px;
    }

    .meio-circulo img {
        width: 150%; /*Largura*/
    }
}

@media(min-width: 1440px) {
    form {
        width: 40%;
        height: 57%;
        top: 38%;
        left: 5%;
    }

    label {
        margin-left: 10%; /*Move as legendas dos input para a esquerda*/
    }

    input {
        padding: 1px;
        margin-left: 20%;
    }

    .meio-circulo {
        margin-top: 3%; /*Move a caixa 3% para baixo*/
        height: 550px;
    }
}