header {
    background-color: #5e87f8; /*Cor do fundo*/
    padding: 2em; /*Espaçamento entre o conteudo e borda*/
    text-align: center; /*Centraliza os itens*/
}


h2 {
    font-size: 280%; /*Tamanho do texto*/
    color: white; /*Cor do texto*/
    font-family: 'avenir next LT pro light'; /*Fonte do título*/
}


form {
    width: 30%; /*Largura*/
    height: 110%; /*Altura*/
    top: 40%; /*Move a caixa 33% para baixo*/
    left: 10%; /*Move a caixa 9.5% para a esquerda*/
    border: 3px double black; /*Bordas para as caixas*/
    position: absolute; /*Representação do layout da caixa*/
}


.meio-circulo {
    height: 700px; /*Altura*/
    margin-left: 50%; /*Move o meio circulo 50% para a esquerda*/
    border-radius: 200px 0 0 200px; /*Bordas arredondadas*/
    background-color: #1e57a4; /*Cor do fundo*/
    overflow: hidden; /*Indica que o conteúdo que ultrapassa o tamanho de um elemento*/
}


.meio-circulo img {
    width: 100%; /*Largura*/
    height: 100%; /*Altura*/
    object-fit: cover; /*Utilizada para especificar como um objeto deve ser redimensionado*/
}


label {
    font-size: 120%; /*Tamanho do texto*/
    color: #1e57a4; /*Cor do texto*/
    font-family: 'Times New Roman', Times, serif; /*Fonte do texto*/
    font-weight: bold; /*Deixa as palavras em negrito*/
    margin-left: 3%; /*Move as legendas dos input para a esquerda*/
}


input {
    border-radius: 3em; /*Bordas arredondadas*/
    padding: 7px; /*Espaçamento entre o conteúdo e borda*/
    width: 15em; /*Largura*/
    height: 5%; /*Altura*/
    margin-left: 9%; /*Move o button 10% para a esquerda*/
}


select {
    border-radius: 3em; /*Bordas arredondadas*/
    padding: 7px; /*Espaçamento entre o conteúdo e borda*/
    width: 12em; /*Largura*/
    height: 8%; /*Altura*/
    font-size: 18px; /*Ajusta o tamanho do texto*/
    margin-left: 9%; /*Move o button 10% para a esquerda*/
}


#botoes:hover {
    border: 1px solid blue; /*Especifica o tipo e a espessura*/
    box-shadow: 1px 1px 2px silver; /*Sombra sutil*/
}


#botoes {
    width: 15em; /*Largura*/
    height: 2em; /*Altura*/
    margin-left: 3%; /*Move o button 25% para a esquerda*/
    background-color: #1e57a4; /*Cor da caixa*/
    color: white; /*Cor das letras*/
}


a {
    color: white; /*Cor do texto*/
    text-decoration: none; /*Remove o sublinhado*/
}


#buscar {
    width: 10em; /*Largura*/
    height: 5%; /*Altura*/
    margin-left: 9%; /*Move o button 10% para a esquerda*/
    border-radius: 3em; /*Bordas arredondadas*/
    background-color: #1e57a4; /*Cor do fundo*/
    color: white; /*Cor do texto*/
    margin-bottom: 1rem; /*Dimensão da margem do botão*/
}
  

#buscar:hover {
    border: 1px solid blue; /*Especifica o tipo e a espessura*/
    box-shadow: 1px 1px 2px silver; /*Sombra sutil*/
}


footer {
    background-color: #5e87f8; /*Cor do fundo*/
    color: white; /*Cor do texto*/
    padding: 20px; /*Espaçamento entre o conteudo e borda*/
}


.integrantes  {
    text-align: center; /*Alinha o texto no centro*/
}


.lista {
    list-style-type: none; /*Remove o marcador de lista*/
    text-align: center; /*Alinha o texto no centro*/
}



/*         RESPONSIVE         */
    /*Computadores*/
@media (max-width: 1280px) {
    form {
        width: 40%;
        height: 75%;
        top: 30%; /*Move a caixa 33% para baixo*/
        left: 5%;
    }

    .meio-circulo {
        height: 700px;
    }
}


@media (max-width: 1085px) {
    form {
        width: 45%;
        left: 2%;
    }
}


@media (max-width: 963px) {
    form {
        width: 50%;
        top: 32%;
        left: 1%;
    }

    .meio-circulo {
        height: 700px;
        margin-top: 1%;
    }
}
    

    
/*Tablets*/
@media(min-width: 723px) and (max-width: 912px){
    form {
        width: 60%;
        height: 70%;
        top: 35%;
    }

    .meio-circulo {
        margin-top: 2%;
    }
}


@media(min-width: 623px) and (max-width: 722px){
    form {
        width: 70%;
        height: 75%;
        top: 32%;
    }

    .meio-circulo {
        margin-top: 2%;
    }

    .meio-circulo img {
        width: 170%;
    }

    #botoes {
        width: 10em;
    }
}


@media(min-width: 600px) and (max-width: 622px){
    form {
        width: 75%;
        top: 38%;
    }

    #botoes {
        width: 10em;
    }
}


@media (min-width: 480px) and (max-width: 599px) {
    form {
        width: 60%;
        height: 80%;
        top: 41%;
    }

    .meio-circulo {
        height: 800px;
        margin-top: 2%;
    }

    #botão {
        margin-left: 10%;
    }
}


    
/*Celulares*/
@media(max-width: 479px) {
    form {
        width: 65%;
        height: 80%;
        top: 42%;
    }

    .meio-circulo {
        margin-top: 3%;
    }

    .meio-circulo img {
        width: 180%;
    }

    #botoes {
        width: 8em;
        margin-left: 3%;
    }
}


@media(max-width: 430px) {
    .meio-circulo img {
        width: 220%;
    }

    #botoes {
        width: 8em;
        margin-left: 3%;
    }
}


@media(max-width: 377px) {
    form {
        width: 70%;
        height: 63%;
        top: 46%;
    }

    .meio-circulo img {
        width: 220%;
    }

    #botão {
        margin-left: 5%;
    }
}


@media(max-width: 376px) {
    form {
        width: 75%;
        height: 60%;
        top: 46%;
        left: 2%;
    }

    #botão {
        margin-left: 5%;
    }
}


@media(max-width: 320px) {
    .meio-circulo {
        margin-top: 55%;
    }
}